@model ETicaretBasic.Models.Product

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Silme Sayfası</h1>

<h3>Silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Ürün</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Başlık
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
           Açıklama
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
          Resim
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
           Fiyat
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
           Anasayfa
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeStatus)
        </dd>
        <dt class = "col-sm-2">
           Stok
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockStatus)
        </dd>
        <dt class = "col-sm-2">
           Kategori
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductID" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Geri dön</a>
    </form>
</div>
