@model IEnumerable<ETicaretBasic.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <p>
        <a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus"></i>Yeni Ürün Ekle</a>
    </p>
    <table id="myTable" class="table table-bordered table-striped ">
        <thead>
            <tr>
                <th>
                    Başlık
                </th>
                <th>
                    Açıklama
                </th>
                <th>
                    Resim
                </th>
                <th>
                    Fiyat
                </th>
                <th>
                    Anasayfa da Var mı?
                </th>
                <th>
                    Stok Durum
                </th>
                <th>
                    Kategori
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @if (item.Image == null)
                        {
                            <img src="~/images/image/resim-yok.jpg" height="80" width="80" />
                        }
                        else
                        {
                            <img src="@item.Image" height="80" width="80" />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @if (item.HomeStatus)
                        {
                            <label class="btn btn-success btn-sm"><i class="bi bi-bag-check"></i>Evet</label>
                        }
                        else
                        {
                            <label class="btn btn-danger btn-sm"><i class="bi bi-hand-thumbs-down"></i>Hayır</label>
                        }
                    </td>
                    <td>
                        @if (item.StockStatus)
                        {
                            <label class="btn btn-success btn-sm"><i class="bi bi-bag-check"></i>Evet</label>
                        }
                        else
                        {
                            <label class="btn btn-danger btn-sm"><i class="bi bi-hand-thumbs-down"></i>Hayır</label>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ProductID" class="btn btn-success btn-sm " ><i class="bi bi-pencil">Düzenle</i></a>
                        <a asp-action="Delete" asp-route-id="@item.ProductID" class="btn btn-danger btn-sm"><i class="bi bi-hand-thumbs-down">Sil</i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable({
                language: {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                }
            });
        });
    </script>
}